.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
}

.menu ul li a {
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;

  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 20px;

  transition: 0.6s;
  font-family: Inter;
  font-weight: bold;

  letter-spacing: 0.2em;
  display: inline-block;
  transition: transform 0.2s;
}

.menu a:hover {
  color: #762990 !important;
  transform: scale(1.2);
}

#menu-ul {
  display: flex;
  gap: 20px;
}

#menu-ul li {
  display: inline;
}

.line-menu {
  width: 1059px;

  height: 0px;
  left: 430px;
  top: 10px;
  border: 2px solid #762990;
  margin-top: 80px;
}

.header {
  position: fixed;
  display: flex;

  justify-content: space-between;
  align-items: center;

  max-width: 1060px;
  background: #fff;
  padding: 40px;
  gap: 80px;

  max-width: 1060px;
}

#btn-mobile {
  display: none;
}

.line-menu {
  width: 1059px;

  left: 430px;

  border: 2px solid #762990;
  margin-top: 130px;
}

.hero-section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1060px;
  margin-top: -90px;
}

.banner-text-box {
  color: #1e1e1e;
  font-size: 32px;
  font-family: Inter;
  font-weight: bold;
  line-height: 48px;
  margin: 0 auto;
  margin-top: 150px;
}
.banner-text {
  color: #1e1e1e;
  font-size: 32px;
  font-family: Inter;
  font-weight: bold;
  line-height: 48px;
  margin: 0 auto;
}

.botao-contate {
  display: flex;
  font-family: Inter;
  justify-content: center;
  align-items: center;
  padding: 11px 13px;
  width: 200px;
  background: #79ad0e;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  transition: 0.2s;
}

.botao-contate:hover {
  filter: brightness(50%);
}
.iconsBanner {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 46px;
}

.imagem-banner {
  margin-top: 146px;
}

.apresentacao {
  display: flex;
  margin: 0 auto;
  max-width: 1060px;
  margin-top: 96px;
  padding-bottom: 96px;
}

.text-apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apresentacao-titulo {
  color: #1e1e1e;
  font-size: 32px;
  font-family: Inter;
  font-weight: bold;
  line-height: 48px;
  margin: 0 auto;
  padding-bottom: 48px;
  padding-left: 48px;
}

.descricao-apresentacao {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Inter;
  font-weight: regular;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 48px;
  padding-left: 48px;
}

.imagem-apresentacao {
  display: flex;
  align-items: center;
}

.clientes {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 1060px;
  margin-top: 96px;
  padding-bottom: 96px;
}

.roberto {
  display: flex;
  margin-bottom: 48px;
}

.goa {
  display: flex;
}

.titulo {
  color: #000;
  font-size: 32px;
  font-family: Inter;
  font-weight: bold;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 12px;
  padding-left: 48px;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
}

.subtitulo {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Inter;
  font-weight: bold;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-left: 48px;
}

p,
ul,
li {
  color: #1e1e1e;
  font-size: 14px;
  font-family: Inter;
  font-weight: regular;
  padding: 5px;
  margin: 0 auto;
}

.goa-texto,
.roberto-texto {
  padding-left: 24px;
}

.box-servicos {
  display: flex;
  flex-direction: row;
  border: 8px solid #762990;
  border-radius: 30px;
  padding: 24px;
  padding-top: 48px;
}

.box-servicos-1 {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.box-servicos-2 {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.servicos-img {
  display: flex;
}

.text-box-servicos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  flex: 1;
  padding: 8px;
}

.leia {
  color: #79ad0e;
}

.each-box {
  display: flex;
  flex-direction: row;
}

.service-title {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Inter;
  font-weight: bold;
  line-height: 21px;
  margin: 0 auto;
  letter-spacing: 0.2em;
}

.service-description {
  color: #1e1e1e;
  font-size: 14px;
  font-family: Inter;
  font-weight: regular;
  line-height: 140%;
  margin: 0 auto;
}

.servico {
  display: flex;
  background: #762990;

  color: #fff;
  border-radius: 30px;
  font-size: 32px;
  font-family: Inter;
  font-weight: regular;
  line-height: 140%;
  letter-spacing: 0.2em;
  padding: 20px;
  width: auto;
  height: 48px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  position: relative;
  top: 30px;
  padding: 20px 20px 20px 20px;
}

footer {
  background-color: #1e1e1e;
  max-width: 1920px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
  display: flex;
}

.logo-footer {
  background-color: #fff;
  width: 310px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-center {
  background-color: #762990;
  width: 516px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.box-center a:hover {
  filter: brightness(50%);
}

.box-right {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  background-color: #fff;
  width: auto;
  height: 140px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
}

.rede-social-footer {
  color: #fff;

  font-size: 16px;
  font-family: Inter;
  font-weight: bold;

  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.line-footer {
  border: 1.5px solid #fff;
  width: 362px;
}

.box-social-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 362px;

  margin-top: 8px;
  margin-bottom: 4px;
}

.box-social-footer img {
  padding-right: 48px;
}

.direitos {
  color: #fff;

  font-size: 12px;
  font-family: Inter;
  font-weight: regular;

  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.link-footer :hover {
  color: #762990;
}

.texto-roxo {
  color: #762990 !important;
}

.tels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 8px;
}

.line-contact {
  border: 1px solid #848484;
  transform: rotate(-0.32deg);
  width: 255px;
}

.tels img {
  margin-top: 4px;
}

@media (max-width: 768px) {
  .container {
    max-width: 360px;
    padding: 0 20px;
  }

  .header {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0;
  }

  .logo-menu {
    margin-top: 0;
    margin: 0 auto;
    height: 15px;
    width: 50%;
  }

  .menu ul li a {
    font-size: 10px;
    line-height: 15px;
    padding: 4px 4px;

    max-width: 300px;
  }

  .menu-logo {
    flex-direction: column;
    align-items: flex-start;
  }

  #menu-ul {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    background: #fff;
    z-index: 1000;
    transition: 0.6s;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #nav.active #menu-ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
    overflow-x: auto;
  }

  #menu-ul a {
    padding: 4px 4 px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  #btn-mobile {
    display: flex;
    padding: 15px 15px;
    border-radius: 15%;
    font-family: Inter;
    border: none;
    background-color: #762990;
    color: #fff;
    cursor: pointer;
    gap: 10px;
  }

  #hamburger {
    border-top: 2px solid #fff;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.6s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .menu ul li {
    margin-left: 15px;
    margin-top: 5px;
  }

  .hero-section-home {
    margin-top: 0;
    flex-direction: column;
    max-width: 400px;
  }

  .line-menu {
    max-width: 400px;
  }

  .banner-text-box {
    max-height: 180px;
    margin-top: 20px;
  }

  .banner-text {
    color: #1e1e1e;
    font-size: 24px;
    font-family: Inter;
    font-weight: bold;
    line-height: 30px;
    margin: 0 auto;
  }

  .botao-contate {
    width: 100%;
    max-width: 200px;
  }

  .imagem-banner img {
    max-width: 400px;
    margin-left: -45px;
    margin-top: -100px;
  }

  .imagem-apresentacao {
    display: none;
  }

  .apresentacao-titulo {
    font-size: 20px;

    line-height: 30px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .descricao-apresentacao {
    font-size: 12px;

    line-height: 18px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .apresentacao {
    flex-direction: column;
    align-items: center;
  }

  .apresentacao-titulo,
  .descricao-apresentacao {
    padding-left: 0;
  }

  .clientes {
    align-items: center;
  }

  .roberto,
  .goa {
    flex-direction: column;
    align-items: center;
  }

  .robertoimagem img {
    max-width: 300px;
  }

  .goaimagem img {
    max-width: 300px;
  }

  .titulo,
  .subtitulo {
    padding-left: 0;
  }

  .box-servicos {
    flex-direction: column;
    max-width: 380px;
  }

  .box-servicos-1,
  .box-servicos-2 {
    max-width: 100%;
  }

  .text-box-servicos {
    padding: 10px;
  }

  .servico {
    top: 0;
    max-width: 300px;
  }

  .box-center {
    width: 100%;
    padding: 10px;
    padding-top: 10px;
  }

  .tels {
    flex-direction: column;
    align-items: center;
  }

  .tels a {
    padding-top: 5px;
  }

  footer {
    flex-direction: column;
    background-color: #fff;
  }

  footer .logo-footer {
    padding-bottom: 5px;
  }

  .box-right {
    line-height: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 4px;
    font-size: 6px;
    height: 200px;
    align-items: center;
  }
}
