.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 25px 200px;
  z-index: 10;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1060px;
  justify-content: center;
  align-items: center;
}

.header-central {
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 10px;
  transition: 0.6s;
  font-family: Inter;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0.2em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.menu a:hover {
  color: #762990 !important;
  transform: scale(1.1);
}

nav {
  display: inline-block;
}

.menu {
  text-align: right;
  flex: 1;
}

.menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.line {
  width: 1059px;
  height: 0px;
  left: 430px;
  top: 127px;
  border: 2px solid #762990;
}

.hero-section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1060px;
}

.banner-text-box {
  color: #1e1e1e;
  font-size: 32px;
  font-family: Inter;
  font-weight: bold;
  line-height: 48px;
  margin: 0 auto;
  margin-top: 150px;
}
.banner-text {
  color: #1e1e1e;
  font-size: 32px;
  font-family: Inter;
  font-weight: bold;
  line-height: 48px;
  margin: 0 auto;
}

.botao-contate {
  display: flex;
  font-family: Inter;
  justify-content: center;
  align-items: center;
  padding: 11px 13px;
  width: 200px;
  background: #79ad0e;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  transition: 0.2s;
}

.botao-contate:hover {
  filter: brightness(50%);
}
.iconsBanner {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 46px;
}

.imagem-banner {
  margin-top: 146px;
}

.apresentacao {
  display: flex;
  margin: 0 auto;
  max-width: 1060px;
  margin-top: 96px;
  padding-bottom: 96px;
}

.text-apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apresentacao-titulo {
  color: #1e1e1e;
  font-size: 32px;
  font-family: Inter;
  font-weight: bold;
  line-height: 48px;
  margin: 0 auto;
  padding-bottom: 48px;
  padding-left: 48px;
}

.descricao-apresentacao {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Inter;
  font-weight: regular;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 48px;
  padding-left: 48px;
}

.imagem-apresentacao {
  display: flex;
  align-items: center;
}

.clientes {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 1060px;
  margin-top: 96px;
  padding-bottom: 96px;
}

.roberto {
  display: flex;
  margin-bottom: 48px;
}

.goa {
  display: flex;
}

.titulo {
  color: #000;
  font-size: 32px;
  font-family: Inter;
  font-weight: bold;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 12px;
  padding-left: 48px;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
}

.subtitulo {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Inter;
  font-weight: bold;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-left: 48px;
}

p,
ul,
li {
  color: #1e1e1e;
  font-size: 14px;
  font-family: Inter;
  font-weight: regular;
  padding: 5px;
  margin: 0 auto;
}

.goa-texto,
.roberto-texto {
  padding-left: 24px;
}

.box-servicos {
  display: flex;
  flex-direction: row;
  border: 8px solid #762990;
  border-radius: 30px;
  padding: 24px;
  padding-top: 48px;
}

.box-servicos-1 {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.box-servicos-2 {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.servicos-img {
  display: flex;
}

.text-box-servicos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  flex: 1;
  padding: 8px;
}

.leia {
  color: #79ad0e;
}

.each-box {
  display: flex;
  flex-direction: row;
}

.service-title {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Inter;
  font-weight: bold;
  line-height: 21px;
  margin: 0 auto;
  letter-spacing: 0.2em;
}

.service-description {
  color: #1e1e1e;
  font-size: 14px;
  font-family: Inter;
  font-weight: regular;
  line-height: 140%;
  margin: 0 auto;
}

.servico {
  background: #762990;

  color: #fff;
  border-radius: 30px;
  font-size: 32px;
  font-family: Inter;
  font-weight: regular;
  line-height: 140%;
  letter-spacing: 0.2em;
  padding: 20px;
  width: auto;
  height: 48px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  position: relative;
  top: 40px;
}

footer {
  background-color: #1e1e1e;
  max-width: 1920px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
  display: flex;
}

.logo-footer {
  background-color: #fff;
  width: 310px;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-center {
  background-color: #762990;
  width: 516px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.box-center a:hover {
  filter: brightness(50%);
}

.box-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  background-color: #fff;
  width: 310px;
  height: 119px;
}

.rede-social-footer {
  color: #fff;

  font-size: 16px;
  font-family: Inter;
  font-weight: bold;

  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.line-footer {
  border: 1.5px solid #fff;
  width: 362px;
}

.box-social-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 362px;

  margin-top: 8px;
  margin-bottom: 4px;
}

.box-social-footer img {
  padding-right: 48px;
}

.direitos {
  color: #fff;

  font-size: 12px;
  font-family: Inter;
  font-weight: regular;

  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.what-mail {
  display: flex;

  align-items: flex-start;
  justify-content: center;

  margin: 0 auto;
  margin-bottom: 8px;
}

.what-mail img {
  padding-right: 8px;
}

.link-footer :hover {
  color: #762990;
  font-weight: bold;
}

.what-mail span {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Inter;
  font-weight: regular;
}

.texto-roxo {
  color: #762990 !important;
}
