.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 25px 200px;
  z-index: 10;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1060px;
  justify-content: center;
  align-items: center;
}

.header-central {
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 10px;
  transition: 0.6s;
  font-family: Inter;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0.2em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.menu a:hover {
  color: #762990 !important;
  transform: scale(1.1);
}

nav {
  display: inline-block;
}

.menu {
  text-align: right;
  flex: 1;
}

.menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.line {
  width: 1059px;
  height: 0px;
  left: 430px;
  top: 127px;
  border: 2px solid #762990;
}

.titulo {
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 32px;
  line-height: 77px;

  transition: 0.6s;
  font-family: Inter;

  display: inline-block;
  justify-content: center;
  align-items: center;

  margin-top: 96px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1064px;
  margin-top: -90px;
}

.box-text-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: #1e1e1e;
  font-family: Inter;
  margin: 0 auto;
  max-width: 430px;
}

.titulo-hero {
  font-size: 24px;
  font-weight: bold;
  line-height: 39px;
}

.descricao-hero {
  font-size: 16px;
  line-height: 150%;
  padding-top: 24px;
}

.services-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 48px;
  max-width: 1060px;
}

.service-line {
  border: 1px solid #ffffff;
  max-width: 600px;
  margin: 16px 0;
}
.service-line-roxo {
  border: 1px solid #762990;
  max-width: 600px;
  margin: 16px 0;
}
.service-img {
  padding: 8px;

  flex: 1;
}

.service-text {
  padding-left: 16px;
  padding: 24px;
}

.each-service-roxo {
  background-color: #762990;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-service-branco {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title-box-branco {
  font-size: 24px;
  font-weight: regular;
  color: #fff;
  letter-spacing: 0.05em;
  font-family: Inter;
  padding-bottom: 8px;
}

.service-title-box-roxo {
  font-size: 24px;
  font-weight: regular;
  color: #762990;
  letter-spacing: 0.05em;
  font-family: Inter;
  padding-bottom: 8px;
}

.service-description-box-branco {
  font-weight: 400;
  font-size: 12px;
  line-height: 149.7%;
  font-family: Inter;
  /* or 24px */

  letter-spacing: 0.2em;
  color: #fff;
}

.service-description-box-roxo {
  font-weight: 400;
  font-size: 12px;
  line-height: 149.7%;
  font-family: Inter;
  /* or 24px */

  letter-spacing: 0.2em;
  color: #762990;
}

.topo-rounded {
  border-radius: 30px 30px 0px 0px;
}

footer {
  background-color: #1e1e1e;
  max-width: 1920px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
  display: flex;
}

.logo-footer {
  background-color: #fff;
  width: 310px;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-center {
  background-color: #762990;
  width: 516px;
  height: 351px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-right {
  background-color: #fff;
  width: 310px;
  height: 119px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* padding-left: 24px; */
}

.rede-social-footer {
  color: #fff;

  font-size: 16px;
  font-family: Inter;
  font-weight: bold;

  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.line-footer {
  border: 1.5px solid #fff;
  width: 362px;
}

.box-social-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 362px;

  margin-top: 8px;
  margin-bottom: 4px;
}

.box-social-footer img {
  padding-right: 48px;
}

.direitos {
  color: #fff;

  font-size: 12px;
  font-family: Inter;
  font-weight: regular;

  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.what-mail {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 16px;

  margin: 0 auto;
}

.what-mail img {
  padding-right: 8px;
}

.what-mail span {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Inter;
  font-weight: regular;
}

.texto-roxo {
  color: #762990 !important;
}
