.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  top: 0;
  max-width: 1060px;
  background: #fff;

  z-index: 10;

  margin: 0 auto;
  max-width: 1060px;
}

.logo-menu {
  display: flex;
  max-width: 210px;
  margin-top: 16px;
}
.menu ul li a {
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;

  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 20px;
  padding: 8px 8px;
  transition: 0.6s;
  font-family: Inter;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0.2em;
  display: inline-block;
  margin-right: auto;

  transition: transform 0.2s;

  max-width: 1800px;
}

.menu-logo {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  max-width: 1600px;
}

.menu a:hover {
  color: #762990 !important;
  transform: scale(1.1);
}

.menu {
  text-align: right;
  flex: 1;
  flex-wrap: nowrap;
}

#menu-ul {
  display: flex;
  flex: flex-end;
  max-width: 1000px;
}

#menu-ul li {
  display: inline;
}

.menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
}

.line-menu {
  width: 1059px;

  height: 0px;
  left: 430px;
  top: 10px;
  border: 2px solid #762990;
  margin-top: 80px;
}

.titulo {
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 32px;
  line-height: 77px;

  transition: 0.6s;
  font-family: Inter;

  display: inline-block;
  justify-content: center;
  align-items: center;

  margin-top: 32px;
  margin-bottom: 48px;
}

footer {
  background-color: #1e1e1e;
  max-width: 1920px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
  display: flex;
}

.logo-footer {
  background-color: #fff;
  width: 310px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-center {
  background-color: #762990;
  width: 516px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.box-center a:hover {
  filter: brightness(50%);
}

.box-right {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  background-color: #fff;
  width: auto;
  height: 140px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
}

.rede-social-footer {
  color: #fff;

  font-size: 16px;
  font-family: Inter;
  font-weight: bold;

  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.line-footer {
  border: 1.5px solid #fff;
  width: 362px;
}

.box-social-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 362px;

  margin-top: 8px;
  margin-bottom: 4px;
}

.box-social-footer img {
  padding-right: 48px;
}

.direitos {
  color: #fff;

  font-size: 12px;
  font-family: Inter;
  font-weight: regular;

  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.link-footer :hover {
  color: #762990;
}

.texto-roxo {
  color: #762990 !important;
}

.tels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #1e1e1e;
  margin-top: 4px;
}

.tels a {
  text-decoration: none;
  margin-top: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: regular;
  font-size: 14px;
  line-height: 19px;

  color: #1e1e1e;
  margin-top: 4px;
  padding: 4px 8px;
}

.line-contact {
  border: 1px solid #848484;

  width: 255px;
}

.tels img {
  margin-top: 4px;
}
